<a href="https://colab.research.google.com/github/Grandes/Data-Science/blob/master/pandas_cheat_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
        index = [1, 2, 3])

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [9]:
df.loc[3, "a"]

6

In [10]:
df.loc[[1,2], ["a", "b"]]

   a  b
1  4  7
2  5  8

In [0]:
df = pd.DataFrame(
        [[4, 7, 10],
        [5, 8, 11],
        [6, 9, 12]],
        index=[1, 2, 3],
        columns=['a', 'b', 'c'])

In [12]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [0]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)],
        names=['n','v']))

In [14]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12